<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message:withexception=true}"
				fileName="${specialfolder:folder=LocalApplicationData:cached=false}/Up2dateConsole/logs/Up2dateConsole.log" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
