<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProvisioningUrl" value="https://dps.ritms.online/provisioning"/>
		<add key="XApigToken" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"/>
		<add key="RequestCertificateUrl" value="http://enter.dev.ritms.online"/>
		<add key="PackageExtensionFilterList" value=".msi:.nupkg"/>
		<add key="CheckSignature" value="false"/>
		<add key="InstallAppFromSelectedIssuer" value="false"/>
		<add key="SelectedIssuers" value="rts"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
					<serviceAuthorization principalPermissionMode="UseWindowsGroups" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Up2dateService.WcfService">
                <endpoint address="" binding="wsHttpBinding" contract="Up2dateService.IWcfService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Up2dateService/WcfService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
