<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Up2dateService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
					<serviceAuthorization principalPermissionMode="UseWindowsGroups" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Up2dateService.WcfService">
                <endpoint address="" binding="wsHttpBinding" contract="Up2dateService.IWcfService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Up2dateService/WcfService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <userSettings>
        <Up2dateService.Properties.Settings>
            <setting name="ProvisioningUrl" serializeAs="String">
                <value>https://dps.ritms.online/provisioning</value>
            </setting>
            <setting name="XApigToken" serializeAs="String">
                <value>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</value>
            </setting>
            <setting name="RequestCertificateUrl" serializeAs="String">
                <value>http://enter.dev.ritms.online</value>
            </setting>
            <setting name="PackageExtensionFilterList" serializeAs="String">
                <value>.msi:.nupkg</value>
            </setting>
            <setting name="CheckSignature" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PackageInProgress" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultChocoSources" serializeAs="String">
                <value>https://community.chocolatey.org/api/v2/</value>
            </setting>
            <setting name="SignatureVerificationLevel" serializeAs="String">
                <value>SignedByAnyCertificate</value>
            </setting>
            <setting name="CertificateThumbprint" serializeAs="String">
                <value />
            </setting>
            <setting name="RequiresConfirmationBeforeInstall" serializeAs="String">
                <value>False</value>
            </setting>
        </Up2dateService.Properties.Settings>
    </userSettings>
</configuration>
