<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProvisioningUrl" value="https://dps.ritms.online/provisioning"/>
		<add key="XApigToken" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"/>
		<add key="RequestCertificateUrl" value="http://enter.dev.ritms.online"/>
		<add key="PackageExtensionFilterList" value=".msi:.cert:.exe"/>
		<add key="CheckSignature" value="true"/>
		<add key="InstallAppFromSelectedIssuer" value="false"/>
		<add key="SelectedIssuer" value="VeriSign Class 3 Code Signing 2010 CA:NVIDIA GameStream Server"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>